@using Prototyping.Ipsum;
@using Prototyping.Placeholdit;

@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .display-grid .row
    {
        background: #eee;
        margin-bottom: 8px;
    }
    .display-grid .column, .display-grid .columns
    {
        background: #ddd;
    }
</style>


<div class="row">
    <div class="four columns">
        @Html.Placehold(250,250)
        @*<img src="../../images/seal_large.png" />   *@                 
    </div>
    <div class="eight columns" >
        <h2>
            <br />
            <br />
            @*Louisville Police Pipes and Drums*@
              takimata at aliquyam sadipscingss
        </h2>  
        <p>
            The best that ever was
        </p>      
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <ul class="nav-bar">
            <li><a href="#" class="main">Donate</a> </li>
            <li><a href="#" class="main">Merchandise</a> </li>                   
            <li><a href="#" class="main" data-reveal-id="testModal">Contact Us</a></li>
            <li><a href="#" class="main">Log In</a></li>                          
            <li><input type="text" /><input type="submit" class="tiny blue nice button radius" value="Join Mailing List" /></li>                          
        </ul>
    </div>
</div>
<div class="row">
    <div class="eight columns">        
        <form>
        <input type="submit" class="tiny blue nice button radius" />
        <a href="#" class="tiny blue nice button radius">Link Button</a>
        </form>
        <form>
        <input type="submit" class="small blue nice button radius" />
        <a href="#" class="small blue nice button radius">Link Button</a>
        </form>
        <form>
        <input type="submit" class="medium blue nice button radius" />
        <a href="#" class="medium blue nice button radius">Link Button</a>
        </form>
        <form>
        <input type="submit" class="large blue nice button radius" />
        <a href="#" class="large blue nice button radius">Link Button</a>
        </form>           
        <h3>Buttons</h3>
        <div class="row">            
            <div class="twelve columns">
                <p>
                    <a href="#" class="nice radius tiny white button">Tiny White Button</a></p>
                <p>
                    <a href="#" class="nice radius small blue button">Nice Blue Button</a></p>
                <p>
                    <a href="#" class="nice radius red button">Nice Red Button</a></p>
                <p>
                    <a href="#" class="nice radius large black button">Nice Black Button</a></p>
                <p>
                    <a href="#"
                        class="tiny blue button" data-reveal-id="testModal" data-animation="fade">Popup Window</a></p>
            </div>
        </div>       
    </div>
    <div class="four columns">
        <dl class="sub-nav">
            <dt>Filter:</dt>
            <dd class="active">
                <a href="#">All</a></dd>
            <dd>
                <a href="#">Active</a></dd>
            <dd>
                <a href="#">Pending</a></dd>
        </dl>
        <h4>
            Other Resources</h4>
        <p>
            Once you've exhausted the fun in this document, you should check out:</p>
        <ul class="disc">
            <li><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />
                Everything you need to know about using the framework.</li>
            <li><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />
                Latest code, issue reports, feature requests and more.</li>
            <li><a href="http://twitter.com/foundationzurb">@@foundationzurb</a><br />
                Ping us on Twitter if you have questions. If you build something with this we'd
                love to see it (and send you a totally boss sticker).</li>
        </ul>
        <p>
            <a href="#" class="tiny white button">Tiny White Button</a></p>
    </div>
</div>

<div id="testModal" class="reveal-modal">
    <h2>
        Contact Us</h2>
    <p class="lead">
        We'll get back to you as soon as we can</p>
    <form class="nice custom">
    <input type="text" class="input-text expand" placeholder="email address" />
    <input type="text" class="input-text expand" placeholder="phone number" />
    <p>        
        <textarea class="expand" placeholder="What can we help you with?"></textarea>
    </p>
    <input type="submit" class="nice blue button" value="3...2...1...Contact" />
    </form>

    <a class="close-reveal-modal">&#215;</a>
</div>
@section scripts
    {
    <script>
        $('#testModal').bind('reveal:open reveal:opened reveal:close reveal:closed', function (event) {
            console.log(event);
        });
    </script>
}
