<div id="siteHeader" class="container">
<div class="row">
	<div class="twelve columns centered">
@*		<h1><img src="/Content/images/seal_medium.png" alt="Louisvile Police Pipes and Drums Logo" /></h1>*@
        <h1>LPPD</h1>
        <ul class="block-grid mobile three-up">
            <li><a href="/" class="Home">Home </a> </li>
            <li><a href="/Donate" class="Donate">Donate</a> </li>
            <li><a href="/Merchandise" class="Merchandise">Merchandise</a> </li>  
  		</ul>
	</div>
    
	@*<div class="eight columns">
		<ul class="nav-bar">
			<li><a href="/" class="Home">Home </a> </li>
            <li><a href="/Donate" class="Donate">Donate</a> </li>
            <li><a href="/Merchandise" class="Merchandise">Merchandise</a> </li>                   
            <li><a href="/Account/LogOn" class="LogOn">Log In</a></li>                          
          <li><input type="text" /><input type="submit" class="tiny blue nice button radius" value="Join Mailing List" /></li>                          
		</ul>
	</div>*@
</div>
</div>